{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<section class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
  </ol>
</nav>
    <h1>LOGIN</h1> 
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
	{{ message|raw }}   
</section>

{% endblock %}
